.d-flex img{
  max-width: 25vw;
}

a{
  text-decoration: none;
}

h1{
  font-size: 1.25rem;
}

.d-flex{
  display: flex;
  flex-wrap: wrap;
}

.d-flex a:not(a:nth-child(3n+1)){
  margin-left: 16px;
}

.d-flex h1{
  text-align: center;
}